<form [formGroup]="blogpostForm" (ngSubmit)="onSubmit()">
  <p>
    <label for="name">Name </label>
    <input type="text" id="HeaderTitle" name="Header" formControlName="HeaderTitle">
  </p>
  <p>
    <label for="context">Context </label>
    <select formControlName="context">
      <option value="tutorials">Tutorial</option>
      <option value="doubt">Doubt</option>
    </select>  
  </p>
  <p>
    <label for="name">Topic </label>  
    <input type="text" id="topic" name="topic" formControlName="topic">
  </p>

  Paragraph:<p>
    <button type="button" (click)="addSkills()">Add</button>
  </p>
  <div formArrayName="paragraph">
    <div *ngFor="let skill of paragraphs.controls; let i=index">
      <div [formGroupName]="i">
      
        Content Type :
        <select formControlName="contentType">
          <option value="code">Code</option>
          <option value="Article">Content Text</option>
        </select>
        content:
        <input type="text" formControlName="content">
        <button (click)="removeSkill(i)">Remove</button>
      </div>
    </div>
  </div>
 
  <p>
    <button type="submit">Submit</button>
  </p>
 
</form>