
<!-- <p>hello</p> -->
  


<app-navbar-component></app-navbar-component>
<button (click)="navigateToAdmin()">Go to Admin</button>
<div class="container">
   <div class="card-container" *ngFor="let item of blogContentSchema">
    <h1>{{ item.HeaderTitle }}</h1>
    <div *ngFor="let paragraph of item.paragraph">
        <div *ngIf="paragraph.contentType === 'Article'">
            <p>{{paragraph.content}}</p>
        </div>
        <div *ngIf="paragraph.contentType === 'code'">
            <!-- <pre>{{ paragraph.content }}</pre> -->
            <textarea  #textarea type="text"  class="form-control"  id="content" name="content" (input)="adjustHeight()" rows="1">{{paragraph.content}}</textarea> 
          </div>
       
    </div>
   
   </div>

</div>


